<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup | PromptDesk</title> 
    <link rel="stylesheet" href="/authentication.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="wrapper" id="app">
      <h2>Setup</h2>
      <form>
        <div class="input-box">
          <input v-model="email" type="email" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <input v-model="password" type="password" placeholder="Create password" required>
        </div>
        <div class="input-box">
          <input v-model="confirm_password" type="password" placeholder="Confirm password" required>
        </div>
        <div class="input-box">
          <input v-model="openai_api_key" type="password" placeholder="OpenAI API Key" required>
        </div>
        <div class="input-box button">
          <input type="Submit" value="Complete Setup" @click="submit">
        </div>
      </form>
    </div>
  </body>
  <script>
    const { createApp, ref } = Vue
  
    createApp({
      setup() {
        return {
          password:"",
          confirm_password:"",
          email:"",
          openai_api_key:"",
          isSettingUp:false
        }
      },
      methods: {
        validAPIKey: async function(key) {

          const data = {
            model: "gpt-3.5-turbo",
            messages: [
              {
                role: "user",
                content: "Say hello."
              }
            ],
            temperature: 1,
            max_tokens: 10,
            top_p: 1,
            frequency_penalty: 0,
            presence_penalty: 0
          };

          try {

            var response = await axios.post('https://api.openai.com/v1/chat/completions', data, {
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${key}`
              }
            })

            if(response.status == 200) {
              return true
            } else {
              return false
            }

          } catch(e) {
            return false
          }

        },
        async submit(event) {
          event.preventDefault();

          if(this.isSettingUp) {
            return;
          }

          this.isSettingUp = true;

          if (this.password !== this.confirm_password) {
            alert("Passwords do not match");
            this.isSettingUp = false;
            return;
          }

          //check if password is over 8 chars
          if (this.password.length < 8) {
            alert("Password must be at least 8 characters long")
            this.isSettingUp = false;
            return;
          }

          var isValidOpenAIKey = await this.validAPIKey(this.openai_api_key);

          if(!isValidOpenAIKey) {
            alert("Invalid OpenAI API Key");
            this.isSettingUp = false;
            return;
          }

          var data = {
            email: this.email,
            password: this.password,
            openai_api_key: this.openai_api_key
          };

          try {
            var response = await axios.post('/auth/setup', data);
            window.location.href = "/auth/login";
          } catch(e) {
            alert(e.response.data.error);
            this.isSettingUp = false;
            return;
          }

        }
      }
    }).mount('#app')
  </script>
</html>