.custom-json-view {
  background-color: #fafafa;
  padding: 1em;
  border-radius: 10px;

  .react-json-view {
    background-color: transparent !important;
  }

  font-size: 0.85rem;
  line-height: 1.1rem;

  .variable-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .variable-value {
    flex-shrink: 1;

    span {
      white-space: pre-wrap;
      user-select: text;
      cursor: text !important;
    }
  }

  .string-value {
    white-space: pre-wrap;
    user-select: text;
    cursor: text !important;
  }

  .variable-row > span:not(.variable-value) {
    white-space: nowrap;
  }

  .object-key {
    white-space: nowrap;
  }

  .icon-container {
    margin-left: -17px;
  }
}
.sample-head {
  .custom-json-view {
    background-color: transparent;
    padding: 1em;
  }
}